body{
    background-color: #fff;
    color: #000;
}

.destaca-strong{
    color: #E01E37;
}

.botao{
    display: flex;
    width: 280px;
    height: 79px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    border-radius: 16px;
    border: 0px solid #DA1E37;
    background: #DA1E37;
}